*{
    box-sizing: border-box;
    font-family: "ABeeZee";
}

body{
    background-image: url('../images/background_ipl2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.content{
    /* background-color: rgb(255, 248, 248); */
    background: rgb(131,58,180);
    background: linear-gradient(1deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: white;
    width: 80%;
    opacity: 0.8;
    padding: 20px;
}

.content-outer{
    margin: 40px;
}

.prediction-form{
    width: 30%;
}

@media only screen and (max-width: 600px) {
    .prediction-form{
        width: 95%;
    }

    .content{
        width: 95%;
        padding: 0;
    }

    .content-outer{
        margin: 20px 0;
    }    

    body{
        background-image: url('../images/bg_mobile.jpg');
    }
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 20px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(238, 142, 18, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(238,142,18,0.4); 
}