body,html{
    height:100%;
    background-image: url('images/background_ipl2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content{
    background-color: rgb(255, 248, 248);
    width: 80%;
    opacity: 0.8;
    padding: 20px;
}

.content-outer{
    margin: 40px;
}

.prediction-form{
    width: 30%;
}

@media only screen and (max-width: 600px) {
    .prediction-form{
        width: 95%;
    }

    .content{
        width: 95%;
    }

    .content-outer{
        margin: 10px;
    }    
}
